body {
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #FFB612;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: #FFF;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #002395;
	color: #FFF;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav u1 {
	list-style-type: none;
	padding: 0;
}

#nav {
	width: 180px;
	float: left;
}

.selected {
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999;
	color: #FFF;
	text-align: right;
}